@font-face {
    font-family: 'Merienda Bold';
    src: url(Components/fonts/Merienda-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: rgb(132, 14, 201);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Merienda Bold', sans-serif;
    color: #f8f8f8;
}
  
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.principal{
    margin-bottom: 70px;
}
  
.logo {
    font-size: 24px;
}
  
a {
    color: #f8f8f8;
    text-decoration: none;
    transition: 0.3s;
}
  
a:hover {
    opacity: 0.5;
}
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    padding: 20px;
}
  
.menu-nav {
    list-style: none;
    display: flex;
}
  
.menu-nav a {
    letter-spacing: 3px;
    margin-left: 50px;
}
  
section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    padding: 20px;
}

.imagem_fundo {
    width: 70%;
}
  
.inf {
    text-align: center;
}
  
.inf h1 {
    font-size: 48px;
}
  
.inf h2 {
    font-size: 36px;
    margin-bottom: 10px;
}
  
.inf h6 {
    color: #ffd900;
    font-size: 24px;
}
  
.subtitulo {
    font-size: 20px;
    margin-top: 40px;
}
  
.conhecaBotao {
    height: 50px;
    width: 200px;
    background-color: #e6ac38;
    font-weight: bold;
    color: #252525;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 5px;;
    transition: transform 0.3s ease;
}

.conhecaBotao:hover{
    background-color:  rgb(64, 20, 90);
    color:rgb(240, 240, 240);
    transform: scale(1.1);

}

  
footer {
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: end;
    bottom: 0;
    left: 0;
}
  
.botao_final {
    background-color: #e6ac38;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    justify-content: center;
    line-height: 30px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    border: solid;
    border-color: black;
}
  
.botaoImgRedes {
    max-width: 80%;
    height: auto;
    
}

.botao_final:hover{
    transform: scale(1.1);
}
  
.redes {
    margin-left: 5px;
    color: black;
    margin-right: 20px;
}
  
.login-container {
    margin-left: auto;
}
  
.login_adm {
    color: black;
    margin-right: 20px;
}
  
/* A responsividade começa aqui */
  
@media screen and (max-width: 768px) {
    .logo {
        font-size: 20px;
    }
    
    .menu-nav a {
        margin-left: 20px;
        margin-right: 10px;
    }
    
    section {
        flex-direction: column;
        height: 100vh;
        padding: 20px 0;
    }
    
    .imagem_fundo {
        width: 80%;
    }
    
    .inf h1 {
        font-size: 32px;
    }
    
    .inf h2 {
        font-size: 24px;
    }
    
    .subtitulo {
        font-size: 16px;
    }
    
    .produtos,
    .novidades {
        width: 150px;
        font-size: 12px;
    }
    
    footer {
        height: 60px;
        width: 100%;
    }
}
  