body{
    background-color: #f6f7f9;
    background-image: url("./Components/images/fundo_sobre.png");
    background-repeat: no-repeat;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
title{
    flex-direction: column;
    line-height: 10px;
    font-family: Merienda Bold;
}
li{
     display: inline-block;
     margin:20px;
     font-family: Merienda Bold;
     color: white;
}
a{
    color:#343434;
}
h1{
    font-family: Merienda Bold;
}
li:hover{
    color: rgb(132, 14, 201);
    transition: 0,3s all;
}
h4{
    font-weight: 190px;
    font-family:Arial;
    color:rgb(132, 14, 201);
    max-width: 400px; 
    margin-left: 60px;
    text-align: left;
}
p{
    font-family: arial;
    font-size: 90%;
    color:rgb(0, 0, 0);
    text-align: left;
    max-width: 400px;
    margin-left: 60px;
    letter-spacing: 1px;
}
main{
    display: flex;
    flex-direction:row;
    margin-top: 25px;
}

.container{
    display:flex;
    align-items: center;
}
.negrito{
    color:rgb(132, 14, 201);
}
.about{
    text-align:center;
    background-color: #e0e0e0;
    width: 1125px;
    height: 500px;
    margin: 20px;
    padding:20px;
    border-radius:15px;
}
.p-about{
    text-align: justify;
    max-width: 1000px;
    font-size: 100%;
}
.about-img{
    width: 450px;
}
.about-img:hover {
    transform: scale(1.05);
    transition: 0,3s;
}

.container1{
    text-align:center;
    font-size: 100%;
    background-color: #e0e0e0;
    width: 800px;
    height: 800px;
    margin: 20px;
    padding:15px;
    border-radius:15px;

}
.container2{
    text-align: center;
    font-size: 100%;
    background-color: #e0e0e0;
    width: 800px;
    height: 800px;
    margin: 20px;
    padding:15px;
    border-radius: 15px;
}
.img-container1{
    width: 420px;
}

.img-container1:hover{
    transform:scale(1.05);
    transition: 0,3s;
}
.img-container2:hover{
    transform:scale(1.05);
    transition: 0,3s;
}

.img-container2{
    width: 400px;
    margin-top: 1px;
}
.produto{
    height: 50px;
    width: 80%;
    background-color:#e6ac38;
    border-radius: 20px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    font-family: arial;
    font-size: 90%;
    margin-left: 10%;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.produto:hover{
    transform: scale(1.05);
}




/* Aqui entra a responsividade*/
@media screen and (max-width: 760px){
    header{
        flex-direction: column;
        
    }
    main{
        flex-direction: column;
    }
    h2{
        font-size: 37px;
        text-align: center;
    }
    form{
        margin: 0 auto;
        width: 100%;
    }
    img{
        width: 360px;
    }
    .container{
        flex-wrap: wrap;
    }
    .about{
        text-align:center;
        background-color: #d6d4d4;
        width: 400px;
        height: 500px;
        margin: 20px;
        padding:20px;
        border-radius:15px;
    }
    .p-about{
        text-align: justify;
        max-width: 700px;
        font-size: 100%;
    }
    .about-img{
        width: 350px;
    }
    .produto{
            height: 40px;
            width: 70%;
            background-color:#e6ac38;
            border-radius: 20px;
            color: rgb(34, 34, 34);
            font-weight: bold;
            font-family: arial;
            font-size: 90%;
            margin-left: 10%;
            border: none;
            cursor: pointer;
            margin-top: 15px;
        }
}